table {
  border-collapse: collapse;
  width: 80%;
}

th,
td {
  border: 1px solid #ccc;
  padding: 0.5rem;
  text-align: left;
}

th {
  font-weight: bold;
  background-color: #f7fafc;
}

tr:nth-child(even) {
  background-color: #f7fafc;
}